


header{
    color: white;
    background-color: lightblue;
    text-align: center;
}
.carousel{
    width: 50%;
    margin-left: 25%;
}

footer{
    background: lightgray;
    color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;

}




